:root {
  --light-blue: #2196F3;
  --baby-blue: #44C6FF;
  --dark-blue: #19579E;

  --white: #FFFFFF;
  --red: #bd0826;
  --green: #58C17A;
  --orange: #F44336;
  --yellow: #FDD910;

  --black: #000000;
  --light-grey: #EEEEEE;
  --dark-grey: #181818;
  --grey: #252627;
}
